{% extends 'base.html'%} {% block index %}
    <table width="100%" border="0">
        <tr>
            <td width="14%">&nbsp;</td>
            <td>
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <font size="5">云标签...</font>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </td>
            <td width="14%">&nbsp;</td>
        </tr>
        <tr>
            <td width="14%"></td>
            <td>
<br>           啦啦啦啦万万没想到....
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
            </td>
            <td width="14%">&nbsp;</td>
        </tr>
    </table>
{% endblock %}
